
@media only screen and (max-width: 840px){
    #time{
        font-size: 3em;
    }
    .btn{
        font-size: 0.9rem;
        padding: 0px 10px;
        margin: 0px 5px;
    }
}

@media only screen and (max-width: 750px){
    #time{
        font-size: 2em;
    }
}

@media only screen and (max-width: 545px){
    .btn{
        font-size: 0.6rem;
    }
    .buttons{
        margin-top: 0px;
    }
    #container{
        width: 50%;
    }
}
